.weather {
    place-self: center;
    background: rgba(255,255,255,0.2);
    border-radius: 38px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    height: 600px;
    width: 480px;
    padding: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_bar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search_bar input {
    height:35px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: rgb(73, 73, 73);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 38px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.search_bar img {
    width: 175%;
    height: 100%;
    padding: 8px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 38px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.nav_bar {
    width: 23px;
    display: flex;
    margin-left: -23.5rem;
    margin-top: -1.9rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav_bar:hover {
    transform: scale(1.1);
}
.star {
    width: 26px;
    display: flex;
    margin-left: 22.7rem;
    margin-top: -1.56rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.star:hover {
    transform: scale(1.1);
}
.weather_icon {
    width: 150px;
    margin: 30px 0;
}
.temperature {
    color: #343434;
    font-size: 70px;
}
.city_name {
    color: #343434;
    font-size: 33px;
    letter-spacing: 1.3px;
}
.weather_data {
    width:100%;
    margin-top: 40px;
    color: #343434;
    display: flex;
    justify-content: space-between;
}
.weather_data col {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 22px;
}
.weather_data .col span {
    display: block;
    font-size: 16px;
}
.weather_data .col img {
    width: 26px;
    color: #343434;
    margin-top: 10px;
}